<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="/static/css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="Stylesheet" href="main.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="conteinerLogin shadow  mb-5 pt-3 bg-white rounded">
                <div class="ml-4"> <p class="h4 ml-5 mt-3">ZALOGUJ</p></div>

                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11  color-brown float-right shadow-sm mb-5 pb-1 rounded-left"></div>
                <form class="mt-5 ml-xl-5 ml-md-5 ml-3">
                    <div class="form-group ">
                        <label for="email">Login:</label>
                        <input type="email" class="form-control col-xl-10 col-md-11 col-11 bg-light "  id="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd" >Haslo:</label>
                        <input type="password" class="form-control col-xl-10 col-md-11 col-11 bg-light " id="pwd">
                    </div>
                    <div class="form-group form-check ">
                        <label class="form-check-label">
                            <input class=" bg-light form-check-input" type="checkbox"> Zapamietaj mnie
                        </label>
                    </div>
                    <button type="submit" class=" mb-5 btn color-brown pr-4 pl-4 text-white">Zaloguj</button>
                </form>
            </div>
            <div class="col-lg-3"></div>




        </div>
    </div>
</div>
</body>
</html>